* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
button:hover{
    transform: scale(1.1);
}
button{
    transition: 0.7s;
}
img{
    transition: 0.7s;
}
img:hover{
 transform: translateY(-10px);
}
.container {
  max-width: 1240px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* Header */

.header {
  background-color: #e47500;
  height: 70px;
  margin-bottom: 110px;
}

.header__item {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}

.header__link{
    color: #fff;
}
.header__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 155%;
  color: #fff;
  margin-top: 13px;
}

.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  gap: 88px;
}

.header__img {
  margin-right: 8px;
}

.header__btn {
  padding: 10px 27px 11px 28px;
  margin-top: 11px;
  border: none;
  background-color: #fff;
  color: orange;
  border-radius: 6px;
}
/* Hero */
.hero {
  text-align: center;
  margin-bottom: 140px;
}
.hero__content {
  margin-bottom: 45px;
}
.hero__title {
  font-weight: 600;
  font-size: 33px;
  line-height: 180%;
  text-align: center;
  color: #222;
}
.hero__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 188%;
  text-align: center;
  color: #898989;
  margin-bottom: 13px;
}
.hero__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.hero__item {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto;
  margin-right: auto;
}
.hero__item_text {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #0b132a;
}
.hero__item span {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #4f5665;
}
/* Simply */
.simply__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 140px;
}
.simply__content {
  width: 383px;
}
.simply__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 180%;
  color: #222;
  margin-bottom: 20px;
}
.simply__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  color: #525252;
  margin-bottom: 15px;
}
.simply__list {
  list-style: circle;
}
.simply__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  color: #525252;
}
/* Lorem */
.lorem__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 140px;
}
.lorem__content {
  width: 536px;
}
.lorem__btn {
  background-color: #dc7000;
  color: #fff;
  border: none;
  padding: 10px 27px;
}
.lorem__title {
  font-weight: 500;
  font-size: 34px;
  color: #000;
  margin-bottom: 15px;
}
.lorem__text {
  font-weight: 400;
  font-size: 17px;
  color: #515151;
  margin-bottom: 15px;
}
/* Customer */
.customer {
  text-align: center;
  background-color: #f5f5f5;
  height: 600px;
  padding-top: 50px;
}
.customer__content {
  width: 555px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.customer__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  text-align: center;
  color: #0b132a;
}
.customer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 188%;
  text-align: center;
  color: #525252;
}
.customer__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.customer__item {
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 350px;
  height: 230px;
  transition: 0.7s;
}
.customer__item:hover {
  border: 2px solid #dc7000;
  border-radius: 10px;
  width: 400px;
  height: 230px;
  background-color: #fff;
}
.customer__item_content {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 20px; 
}
.customer__item_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  color: #0b132a;
}
.customer__item_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 188%;
  color: #525252;
}
/* Footer */
.printing__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 188%;
  color: #000000;
  margin-top: 125px;
}

.printing__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  color: #232323;
  width: 445px;
  margin-top: 32px;
  margin-bottom: 75px;
}

.priting__block {
  background-color: #000;
  height: 190px;
  border-radius: 15px;
  margin-bottom: 150px;
}

.printing__title_loop {
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  margin-left: 56px;
  margin-bottom: 10px;
  padding-top: 40px;
}

.printing__text_latest {
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  width: 430px;
  margin-left: 56px;
  margin-top: 10px;
  margin-top: 40px;
}

.printing__input {
  color: #515151;
  border: none;
  border-radius: 8px;
  width: 300px;
  padding: 12px 21px;
}

.printing__btn {
  border-radius: 8px;
  background-color: #e0892c;
  padding: 12px 22px;
  border: none;
  border-radius: 8px;

  color: white;
}

.printing__content_box_ib {
  background-color: #fff;
}

.printing__content_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 155%;
  color: #fff;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: 272px;
  margin-top: 20px;
}

.footer__text_com {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}

.footer__title_us {
  font-weight: 700;
  font-size: 17px;
  color: #fff;
}

.footer__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 186%;
  color: #fff;
}

/* .footer__list {
  margin-left: 80px;
  margin-top: 76px;
} */

.footer__title_uss {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  /* margin-top: 26px;
  margin-left: 100px;*/
  margin-bottom: 20px;
}

.footer__texts {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: 242px;
  /* margin-left: 100px; */
}

.footer__text_number {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-top: 12px;
  /* margin-left: 100px; */
}

.footer__svg {
  background-color: #ffffff;
  border-radius: 100%;
  width: 35px;
  padding: 10px;
}

.footer__block {
  display: flex;
  align-items: center;
  gap: 5px;
}

.printing__ib {
  display: flex;
  /* width: 350px; */
  align-items: center;
  gap: 5px;
  color: #515151;
  border: none;
  border-radius: 8px;
  padding: 14px 10px;
  background-color: #fff;
}

.footer__content_svg {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 70px;
  cursor: pointer;
}
